.header {
  background-color: var(--color-brand);
  position: sticky;
  margin-bottom: 2rem;
  top: 0;
  z-index: 1;
  box-shadow: 0 1px 4px var(--color-shadow);
}

.header a {
  text-decoration: none;
}
