.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
}

.anchor {
  display: block;
  text-decoration: none;
}

.anchor:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 519px) {
  .grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
