.thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.thumbnail[data-circle] {
  border-radius: 50%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
