.badge {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 999px;
  box-sizing: border-box;
  color: var(--color-sub);
  display: inline-block;
  font-size: var(--font-size-small);
  line-height: 1;
  font-weight: var(--font-weight);
  outline-style: none;
  margin: auto 0;
  text-decoration-line: none;
  padding: 0.375em 0.875em;
  text-align: center;
  white-space: nowrap;
}

.badge[data-primary] {
  background-color: var(--color-main-soft);
  border-color: transparent;
  color: var(--color-main);
  font-weight: var(--font-weight-bold);
}
